.text-center {
  text-align: center;
}

.mb-sm {
  margin-bottom: 1.2rem;
}

.mb-md {
  margin-bottom: 2.5rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-xl {
  margin-bottom: 6.5rem;
}

.hidden {
  display: none;
  // opacity: 0;
  // visibility: hidden;
}
